/* Wiley Batttles, CIS-3023-01, 2/25/23, HW4 */

* {
    margin: 5px;
    box-sizing: border-box;
}

header {
    background: white;
    font-family: Comic Sans MS;
    color: black;
    padding: 1em 0 1em 0;
}

body {
    height: 95vh;
    /* background: rgb(58.8, 29.4, 0); */
    background-color: white;

    font-family: sans-serif;
    text-align: center;
    color: white;

    font-size: 24px;
    /* display: flex; */

    flex-direction: column;
}

textarea{
    resize: none;
    font-family: Comic Sans MS;
    font-size: 16.5px;
    background-color: grey;
}

button {
    width: 100px;
    background: rgb(39, 76, 67);
}

button:hover {
    background: rgb(103, 138, 129);
}

button:active {
    background: rgb(67, 97, 89);
    transform: translateY(2px)
}

.text{

    border-style: solid;
    border-width: 10px;
    border-color: rgb(139, 69, 19);

    flex-direction: column;
    margin: auto;
    width: 450px;
}

.image {
    width: 200px;
    height: 200px;
}

/* .content {
    display: flex;
    flex: 1;
} */

/* Responsive Design: Adjust the layout for smalller screens */
@media all and (max-width: 550px) {
    .content {
        flex-direction: column;
    }

    main {
        padding: 5em 0 5em 0;
    }
}