
/* Wiley Battles, CIS-3023-01, 4/16/23, HW6 */

body{
    background-color: white;
}


header{
    background-color: rgb(159, 159, 159);
    text-align: center;
    font-size:larger;
    padding: 10px;
}

nav {
    text-align: center;
}

form{
    text-align: center;
    font-size:smaller;
    padding-top: 10px;
}

button{
    width: 145px;
}